.todo-container {
  background-color: antiquewhite;
  margin-top: 20px;
}
span {
  font-family: "Times New Roman", Times, serif;
  font-weight: 550;
  font-size: 45px;
  margin: 10px;
}

input {
  width: 100%;
}

.items-container {
  text-align: left;
}

.kg-row {
  margin: 15px;
}
.btn {
  min-width: 80px;
  width: 100%;
}
